# Logs
**/Logs/
**/logs/
*.log

# Reports
**/Report/
**/Reports/

# GitHub Token
github.token

# User Settings
appsettings.json
appsettings.Development.json

# Temp
*.tmp
*.bak

# OS
.DS_Store
Thumbs.db